:host(.med-badge) {
  --color-neutral-10: #f9fafa;

  --display: inline-block;
  --box-sizing: border-box;
  --color: var(--color-neutral-10);
  --background-color: var(--med-color-brand-2);
  --font-family: sans-serif;
  --font-size: 14px;
  --font-weight: 600;
  --line-height: 16px;
  --padding: 8px 12px;
  --border: 1px solid transparent;
  --border-radius: 4px;

  display: var(--display);
}

// default
.med-badge__default {
  display: var(--display);
  box-sizing: var(--box-sizing);
  color: var(--color);
  background-color: var(--background-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  padding: var(--padding);
  border: var(--border);
  border-radius: var(--border-radius);
}

// sizes
:host(.med-badge--sm) {
  --font-size: 10px;
  --line-height: 12px;
  --padding: 6px 8px;
}

// name
:host(.med-badge--stroke) {
  --background-color: transparent;
  --color: var(--med-color-brand-3);
  --border: 1px solid var(--med-color-brand-3);
}

// colors
:host(.med-color.med-badge--fill) {
  --background-color: var(--med-color-2);
}

:host(.med-color.med-badge--stroke) {
  --color: var(--med-color-3);
  --border: 1px solid var(--med-color-3);
}
