@mixin generate-color-tokens() {
  @each $key, $value in $colors {
    $darkest: map-get(map-get($colors, $key), '1');
    $dark: map-get(map-get($colors, $key), '2');
    $medium: map-get(map-get($colors, $key), '3');
    $light: map-get(map-get($colors, $key), '4');
    $lightest: map-get(map-get($colors, $key), '5');

    --med-color-#{$key}-1: #{$darkest};
    --med-color-#{$key}-2: #{$dark};
    --med-color-#{$key}-3: #{$medium};
    --med-color-#{$key}-4: #{$light};
    --med-color-#{$key}-5: #{$lightest};
  }
}

@mixin generate-color-classes() {
  @each $key, $value in $colors {
    .med-color-#{$key} {
      --med-color-1: var(--med-color-#{$key}-1);
      --med-color-2: var(--med-color-#{$key}-2);
      --med-color-3: var(--med-color-#{$key}-3);
      --med-color-4: var(--med-color-#{$key}-4);
      --med-color-5: var(--med-color-#{$key}-5);
    }
  }
}
