$colors: (
  'brand': (
    '1': hsl(var(--brand-hue), var(--color-saturation), var(--color-luminosity-1)),
    '2': hsl(var(--brand-hue), var(--color-saturation), var(--color-luminosity-2)),
    '3': hsl(var(--brand-hue), var(--color-saturation), var(--color-luminosity-3)),
    '4': hsl(var(--brand-hue), var(--color-saturation), var(--color-luminosity-4)),
    '5': hsl(var(--brand-hue), var(--color-saturation), var(--color-luminosity-5)),
  ),
  'aula': (
    '1': hsl(var(--aula-hue), var(--color-saturation), var(--color-luminosity-1)),
    '2': hsl(var(--aula-hue), var(--color-saturation), var(--color-luminosity-2)),
    '3': hsl(var(--aula-hue), var(--color-saturation), var(--color-luminosity-3)),
    '4': hsl(var(--aula-hue), var(--color-saturation), var(--color-luminosity-4)),
    '5': hsl(var(--aula-hue), var(--color-saturation), var(--color-luminosity-5)),
  ),
  'material': (
    '1': hsl(var(--material-hue), var(--color-saturation), var(--color-luminosity-1)),
    '2': hsl(var(--material-hue), var(--color-saturation), var(--color-luminosity-2)),
    '3': hsl(var(--material-hue), var(--color-saturation), var(--color-luminosity-3)),
    '4': hsl(var(--material-hue), var(--color-saturation), var(--color-luminosity-4)),
    '5': hsl(var(--material-hue), var(--color-saturation), var(--color-luminosity-5)),
  ),
  'questoes': (
    '1': hsl(var(--questoes-hue), var(--color-saturation), var(--color-luminosity-1)),
    '2': hsl(var(--questoes-hue), var(--color-saturation), var(--color-luminosity-2)),
    '3': hsl(var(--questoes-hue), var(--color-saturation), var(--color-luminosity-3)),
    '4': hsl(var(--questoes-hue), var(--color-saturation), var(--color-luminosity-4)),
    '5': hsl(var(--questoes-hue), var(--color-saturation), var(--color-luminosity-5)),
  ),
  'revalida': (
    '1': hsl(var(--revalida-hue), var(--color-saturation), var(--color-luminosity-1)),
    '2': hsl(var(--revalida-hue), var(--color-saturation), var(--color-luminosity-2)),
    '3': hsl(var(--revalida-hue), var(--color-saturation), var(--color-luminosity-3)),
    '4': hsl(var(--revalida-hue), var(--color-saturation), var(--color-luminosity-4)),
    '5': hsl(var(--revalida-hue), var(--color-saturation), var(--color-luminosity-5)),
  ),
  'provas': (
    '1': hsl(var(--provas-hue), var(--color-saturation), var(--color-luminosity-1)),
    '2': hsl(var(--provas-hue), var(--color-saturation), var(--color-luminosity-2)),
    '3': hsl(var(--provas-hue), var(--color-saturation), var(--color-luminosity-3)),
    '4': hsl(var(--provas-hue), var(--color-saturation), var(--color-luminosity-4)),
    '5': hsl(var(--provas-hue), var(--color-saturation), var(--color-luminosity-5)),
  ),
);

$color-neutral: (
  '1': hsl(var(--brand-hue), var(--color-neutral-saturation), var(--color-neutral-luminosity)),
  '15': hsl(var(--brand-hue), var(--color-neutral-saturation), var(--color-neutral-luminosity-step)),
  '2': hsl(var(--brand-hue), var(--color-neutral-saturation), calc(var(--color-neutral-luminosity) + 10%)),
  '25': hsl(var(--brand-hue), var(--color-neutral-saturation), calc(var(--color-neutral-luminosity-step) + 10%)),
  '3': hsl(var(--brand-hue), var(--color-neutral-saturation), calc(var(--color-neutral-luminosity) + 20%)),
  '35': hsl(var(--brand-hue), var(--color-neutral-saturation), calc(var(--color-neutral-luminosity-step) + 20%)),
  '4': hsl(var(--brand-hue), var(--color-neutral-saturation), calc(var(--color-neutral-luminosity) + 30%)),
  '45': hsl(var(--brand-hue), var(--color-neutral-saturation), calc(var(--color-neutral-luminosity-step) + 30%)),
  '5': hsl(var(--brand-hue), var(--color-neutral-saturation), calc(var(--color-neutral-luminosity) + 40%)),
  '55': hsl(var(--brand-hue), var(--color-neutral-saturation), calc(var(--color-neutral-luminosity-step) + 40%)),
  '6': hsl(var(--brand-hue), var(--color-neutral-saturation), calc(var(--color-neutral-luminosity) + 50%)),
  '65': hsl(var(--brand-hue), var(--color-neutral-saturation), calc(var(--color-neutral-luminosity-step) + 50%)),
  '7': hsl(var(--brand-hue), var(--color-neutral-saturation), calc(var(--color-neutral-luminosity) + 60%)),
  '75': hsl(var(--brand-hue), var(--color-neutral-saturation), calc(var(--color-neutral-luminosity-step) + 60%)),
  '8': hsl(var(--brand-hue), var(--color-neutral-saturation), calc(var(--color-neutral-luminosity) + 70%)),
  '85': hsl(var(--brand-hue), var(--color-neutral-saturation), calc(var(--color-neutral-luminosity-step) + 70%)),
  '9': hsl(var(--brand-hue), var(--color-neutral-saturation), calc(var(--color-neutral-luminosity) + 80%)),
  '95': hsl(var(--brand-hue), var(--color-neutral-saturation), calc(var(--color-neutral-luminosity-step) + 80%)),
  '10': hsl(var(--brand-hue), var(--color-neutral-saturation), calc(var(--color-neutral-luminosity) + 90%)),
);

$color-feedback: (
  'attention': hsl(var(--color-feedback-hue-attention), var(--color-feedback-saturation), var(--color-feedback-luminosity)),
  'caution': hsl(var(--color-feedback-hue-caution), var(--color-feedback-saturation), var(--color-feedback-luminosity)),
  'warning': hsl(var(--color-feedback-hue-warning), var(--color-feedback-saturation), var(--color-feedback-luminosity)),
  'success': hsl(var(--color-feedback-hue-success), var(--color-feedback-saturation), var(--color-feedback-luminosity)),
);
