.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  // 800px
  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
  }

  &__text-box {
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 1rem;
    padding: 2rem 0 1rem 0;

    // 800px
    @media only screen and (max-width: $bp-small) {
      align-self: start;
    }
  }

  &__button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: var(--color-text);
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      color: var(--color-primary-light);
    }
  }

  &__icon {
    height: 2.6rem;
    width: 2.6rem;
  }

  &__button-box {
    display: flex;
    align-items: center;
    padding-right: 4rem;
    padding-top: 1rem;

    // 1600px
    @media only screen and (max-width: $bp-huge) {
      padding-right: 2rem;
    }

    // 1000px
    @media only screen and (max-width: $bp-medium) {
      padding-right: 0;
    }

    // 800px
    @media only screen and (max-width: $bp-small) {
      align-self: end;
    }

    // 600px
    @media only screen and (max-width: $bp-smallest) {
      padding: 0;
    }
  }
}
