.section-course {
  flex: 1 0 42rem;
  padding-bottom: 2rem;
  padding-right: 1rem;
  overflow: auto;

  // 1200px
  @media only screen and (max-width: $bp-large) {
    overflow: visible;
    padding-right: 0;
  }

  // 600px
  @media only screen and (max-width: $bp-smallest) {
    margin: 1rem;
  }

  .course {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__text {
      font-size: 1.6rem;
    }
  }
}

.section-course .accordion {
  background-color: var(--color-background-light);
}
