.month {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__text-container {
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }

  &__text {
    font-size: 1.6rem;
    font-weight: 600;
  }

  &__icon {
    height: 2.4rem;
    width: 2.4rem;
  }
}
