:host(.progress-bar) {
  --color-brand-1: #0a515c;
  --color-brand-4: #47d5eb;
  --porcentagem: 0;

  --height: 4px;
  --width: 100%;
  --background-image: linear-gradient(to right, var(--color-brand-4) calc(var(--porcentagem) * 1%), var(--color-brand-1) calc(var(--porcentagem) * 1%) 100%);

  display: block;
}

// default
.progress-bar__default {
  height: var(--height);
  width: var(--width);
  background-image: var(--background-image);
}
