.heading-primary {
  font-size: 1.6rem;
  font-weight: 600;
}

.heading-secondary {
  font-size: 2.4rem;
  font-weight: 700;
}

.heading-secondary--span {
  font-weight: 400;
}

.heading-tertiary {
  font-size: 1.6rem;
  line-height: 2rem;
}
