:host(.med-button) {
  --color-neutral-3: #404d4f;
  --color-neutral-5: #6e8386;
  --color-neutral-10: #f9fafa;

  --background-color: var(--med-color-brand-3);
  --background-color-hover: var(--med-color-brand-2);
  --background-color-disabled: var(--color-neutral-3);
  --color: var(--color-neutral-10);
  --color-disabled: var(--color-neutral-5);
  --padding: 16px 32px;
  --font-size: 16px;
  --line-height: 16px;
  --height: 48px;
  --width: initial;
  --display: inline-block;
  --height-icon: 24px;
  --width-icon: 24px;
  --border: 1px solid transparent;
  --border-radius: 100px;
  --transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  --icon-transition: stroke 0.3s;

  display: var(--display);
}

// default
.med-button__tag {
  cursor: pointer;
  border: var(--border);
  border-radius: var(--border-radius);
  padding: var(--padding);
  font-size: var(--font-size);
  font-weight: 600;
  color: var(--color);
  background-color: var(--background-color);
  line-height: var(--line-height);
  height: var(--height);
  width: var(--width);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
}

// icon
::slotted(svg) {
  height: var(--height-icon);
  width: var(--width-icon);
  stroke: var(--color);
  transition: var(--icon-transition);
}

::slotted([name='start']) {
  margin-right: 8px;
  margin-left: -8px;
}

::slotted([name='end']) {
  margin-left: 8px;
  margin-right: -8px;
}

// states
:host(.med-button:hover) {
  --background-color: var(--background-color-hover);
}

:host(.med-button--disabled) {
  --background-color: var(--background-color-disabled);
  --color: var(--color-disabled);
  pointer-events: none;
}

:host(.med-button--disabled) ::slotted(svg) {
  stroke: var(--color-disabled);
}

// sizes
:host(.med-button--sm) {
  --padding: 12px 32px;
  --height: 40px;
}

:host(.med-button--xs) {
  --padding: 8px 24px;
  --height: 32px;
  --font-size: 14px;
  --line-height: 16px;
}

:host(.med-button--xs) ::slotted(svg) {
  --height-icon: 16px;
  --width-icon: 16px;
}

:host(.med-button--xxs) {
  --padding: 6px 16px;
  --height: 24px;
  --font-size: 12px;
  --line-height: 12px;
}

:host(.med-button--xxs) ::slotted(svg) {
  --height-icon: 16px;
  --width-icon: 16px;
}

:host(.med-button--xxs) ::slotted([name='start']) {
  margin-left: -4px;
}

:host(.med-button--xxs) ::slotted([name='end']) {
  margin-right: -4px;
}

// block
:host(.med-button--block) {
  --width: 100%;
  --display: block;
}

// secondary
:host(.med-button--secondary) {
  --background-color: transparent;
  --color: var(--med-color-brand-3);
  --border: 1px solid var(--med-color-brand-3);
}

// states
:host(.med-button--secondary:hover) {
  --background-color: transparent;
  --border: 1px solid var(--med-color-brand-2);
}

:host(.med-button--secondary.med-button--disabled) {
  --color: var(--color-neutral-5);
  --border: 1px solid var(--color-neutral-3);
  pointer-events: none;
}

// tertiary
:host(.med-button--tertiary) {
  --border-radius: 0;
  --padding: 16px;
  --background-color: transparent;
}

:host(.med-button--tertiary) ::slotted([name='start']) {
  margin-left: 0;
}

:host(.med-button--tertiary) ::slotted([name='end']) {
  margin-right: 0;
}

// sizes
:host(.med-button--tertiary.med-button--sm) {
  --padding: 12px 16px;
}

:host(.med-button--tertiary.med-button--xs) {
  --padding: 8px 12px;
}

:host(.med-button--tertiary.med-button--xxs) {
  --padding: 4px 12px;
}

// states
:host(.med-button--tertiary:hover) {
  --color: var(--med-color-brand-3);
  --background-color: transparent;
}

:host(.med-button--tertiary.med-button--disabled) {
  --color: var(--color-neutral-5);
  pointer-events: none;
}

// colors
:host(.med-color) {
  --background-color: var(--med-color-3);
}

:host(.med-color:hover) {
  --background-color: var(--med-color-2);
}

:host(.med-color.med-button--secondary) {
  --background-color: transparent;
  --color: var(--med-color-3);
  --border: 1px solid var(--med-color-3);
}

:host(.med-color.med-button--secondary:hover) {
  --border: 1px solid var(--med-color-2);
}

:host(.med-color.med-button--tertiary) {
  --background-color: transparent;
}

:host(.med-color.med-button--tertiary:hover) {
  --color: var(--med-color-3);
}

// color disabled
:host(.med-color.med-button--disabled) {
  --background-color: var(--background-color-disabled);
  --color: var(--color-disabled);
  pointer-events: none;
}

:host(.med-color.med-button--secondary.med-button--disabled) {
  --color: var(--color-neutral-5);
  --border: 1px solid var(--color-neutral-3);
  pointer-events: none;
  --background-color: transparent;
}

:host(.med-color.med-button--tertiary.med-button--disabled) {
  --color: var(--color-neutral-5);
  pointer-events: none;
  --background-color: transparent;
}

// neutral
:host(.med-color-neutral) {
  --background-color: var(--med-color-neutral);
  --color: var(--med-color-neutral-contrast);
}

:host(.med-color-neutral:hover) {
  --background-color: var(--med-color-neutral);
  --color: var(--med-color-neutral-contrast);
}

:host(.med-color-neutral.med-button--secondary) {
  --background-color: transparent;
  --color: var(--med-color-neutral);
  --border: 1px solid var(--med-color-neutral);
}

:host(.med-color-neutral.med-button--secondary:hover) {
  --border: 1px solid var(--med-color-neutral-1);
}

:host(.med-color-neutral.med-button--tertiary) {
  --background-color: transparent;
  --color: var(--color-neutral-10);
}

:host(.med-color-neutral.med-button--tertiary:hover) {
  --color: var(--med-color-neutral);
}

// neutral disabled
:host(.med-color-neutral.med-button--disabled) {
  --background-color: var(--background-color-disabled);
  --color: var(--color-disabled);
  pointer-events: none;
}

:host(.med-color-neutral.med-button--secondary.med-button--disabled) {
  --color: var(--color-neutral-5);
  --border: 1px solid var(--color-neutral-3);
  pointer-events: none;
  --background-color: transparent;
}

:host(.med-color-neutral.med-button--tertiary.med-button--disabled) {
  --color: var(--color-neutral-5);
  pointer-events: none;
  --background-color: transparent;
}

// feedback
:host(.med-color-feedback) {
  --background-color: var(--med-color-feedback);
}

:host(.med-color-feedback:hover) {
  --background-color: var(--med-color-feedback);
}

:host(.med-color-feedback.med-button--secondary) {
  --background-color: transparent;
  --color: var(--med-color-feedback);
  --border: 1px solid var(--med-color-feedback);
}

:host(.med-color-feedback.med-button--tertiary) {
  --background-color: transparent;
  --color: var(--color-neutral-10);
}

:host(.med-color-feedback.med-button--tertiary:hover) {
  --color: var(--med-color-feedback);
}

// feedback disabled
:host(.med-color-feedback.med-button--disabled) {
  --background-color: var(--background-color-disabled);
  --color: var(--color-disabled);
  pointer-events: none;
}

:host(.med-color-feedback.med-button--secondary.med-button--disabled) {
  --color: var(--color-neutral-5);
  --border: 1px solid var(--color-neutral-3);
  pointer-events: none;
  --background-color: transparent;
}

:host(.med-color-feedback.med-button--tertiary.med-button--disabled) {
  --color: var(--color-neutral-5);
  pointer-events: none;
  --background-color: transparent;
}
