.container {
  margin: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.6rem;

  @media only screen and (max-width: $breakpoints-md) {
    grid-template-columns: 1fr 1fr;
  }

  @media only screen and (max-width: $breakpoints-sm) {
    grid-template-columns: 1fr;
  }
}
