:host(.med-progress) {
  --porcentagem: 0;

  --height: 4px;
  --width: 100%;
  --background-image: linear-gradient(to right, var(--med-color-brand-4) calc(var(--porcentagem) * 1%), var(--med-color-brand-1) calc(var(--porcentagem) * 1%) 100%);

  display: block;
}

// default
.med-progress__default {
  height: var(--height);
  width: var(--width);
  background-image: var(--background-image);
}

// colors
:host(.med-color) {
  --background-image: linear-gradient(to right, var(--med-color-4) calc(var(--porcentagem) * 1%), var(--med-color-1) calc(var(--porcentagem) * 1%) 100%);
}
